<!-- <div class="container">
    <div class="grid-container">
        <div class="sideLines">
            About DSRT 
        </div>
        <div class="loginForm-container">
            <div class="loginForm">
                <div class="input-logo">
                    <img 
                    src="assets/scadlogo.png">
                </div> 
                <div class="input-userName">
                    <input type="text" id="name" name="name" placeholder="Username" class="inputText" required />
                </div>
                <div class="input-password">
                    <input type="text" placeholder="Password" class="inputText" required />
                </div>
                <div>
                    <button class="frgetPwd">Forget Password</button>
                    <button  class="signin">Sign in</button>
                </div>
                <hr>
                <div>
                    <button  class="frgetPwd" float="left">Need An Account</button>
                    <button  class="getLeadPages">Get Lead</button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Only Matrial design -->
<!-- <div style="background-color: #005affb5;height: 100%;">
    <mat-card>
        <mat-grid-list cols="4" rowHeight="106px">
            <mat-grid-tile colspan="2" rowspan="5">
                <mat-card class="card">
                    <mat-card class="card1">
                        <img style="object-fit: cover !important;position: relative;left: 16%;
                        width: 66%;height: 116%;" src="assets/final logo DSRT.png" alt="login image">
                        <p
                            style="color: black;position: relative;font-size: 14px;left: 47%;top:-130px;font-family: revert;">
                            Dynamic Scientific Research & Technologies </p>
                    </mat-card>
                    <mat-card-content style="position: relative;left: 8%;top: 8%;">
                        <p
                            style="color: white;position: relative;font-size: 14px;left: 8%;top:24px;font-family: revert;">
                            Our Selling Products
                        </p><br>
                        <mat-grid-list cols="5" rowHeight="44px">
                            <mat-grid-tile colspan="2" rowspan="1">
                                <mat-card style="background-color: transparent;box-shadow: 0 0 transparent;left: 8%;padding: 0px;">
                                    <mat-card-content><span class="inline-icon material-icons"> addchart</span> Periodic snapshots</mat-card-content>
                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile colspan="2" rowspan="1">
                                <mat-card style="background-color: transparent;box-shadow: 0 0 transparent;left: 8%;padding: 0px;">
                                    <span class="inline-icon material-icons"> fingerprint</span> candidate behaviour
                                    status
                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile colspan="2" rowspan="2">
                                <mat-card style="top: 32px;background-color: transparent;box-shadow: 0 0 transparent;left: 8%;padding: 0px;">
                                    <span class="inline-icon material-icons"> pending_actions</span> Print screen lock
                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile colspan="2" rowspan="2">
                                <mat-card style="top: 32px;background-color: transparent;box-shadow: 0 0 transparent;left: 8%;padding: 0px;">
                                    <span class="inline-icon material-icons"> calculate</span> IP address collecting
                                </mat-card>
                            </mat-grid-tile >
                            <mat-grid-tile colspan="2" rowspan="3">
                                <mat-card style="background-color: transparent;box-shadow: 0 0 transparent;left: 8%;padding: 0px;">
                                    <span class="inline-icon material-icons"> calculate</span> Disable copy paste
                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile colspan="2" rowspan="3">
                                <mat-card style="background-color: transparent;box-shadow: 0 0 transparent;left: 8%;padding: 0px;">
                                    <span class="inline-icon material-icons"> calculate</span> Dual screen detection
                                </mat-card>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="5">
                <mat-card style="position: relative;width: 58%;box-shadow: 0 0 transparent;top: 28px;left: 0;">
                    <img style="position: relative;left: 40%;width: 24%;" mat-card-image src="assets/login_logo3.png"
                        alt="login image">
                    <mat-card-content>
                        <div class="input-password">
                            <input type="text" placeholder="Enter your Email" class="inputText" required />
                        </div>
                        <div class="input-password">
                            <input type="password" placeholder="Password" class="inputText" required />
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button style="color: black">Forget Password</button>
                        <button mat-raised-button color="primary"
                            style="float:right;border-radius: 24px;padding-left: 38px;padding-right: 38px;">Primary</button>
                        <hr>
                        <button mat-button style="color: black;margin-left: 0;margin-right: 0;">Create an
                            Account</button>
                        <button mat-stroked-button color="primary"
                            style="float:right;border-radius: 24px;border-color: #c2185b;">Go to our sites</button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div> -->



<!-- <mat-card class="card">
    <img style="object-fit: cover !important;position: relative;left: 16%;
    top: -62px;width: 66%;height: 66%;" src="assets/final logo DSRT.png" alt="login image">
        <p style="color: black;position: relative;left: 20%;bottom: 162px;">
            Dynamic Scientific Research and Technologies </p>
</mat-card> -->


<div style="background-color: #005affb5;height: 100%;width: 100%;overflow: hidden">
    <div class="row justify-content-center">
        <div class="col-10">
            <mat-card>
                <div class="row">
                    <div class="col-6">
                        <div class="row formLeft" style="color:white;background-color: #005affeb;height: 16px;">
                        </div>
                        <div class="row formLeft align-items-center justify-content-center" style="color:black;background-color: white;">
                            <div class="col-8" style="height: 116px;">
                                <img style="position: relative;width: 92%;object-fit: cover !important;height: 148px;"
                                    src="assets/final logo DSRT.png" alt="login image">
                            </div>
                        </div>
                        <div class="row formLeft justify-content-center"
                            style="color:white;background-color: #005affeb;height: 20%;padding-top: 6%;">
                            <div class="col-6">
                                Our salient Features
                            </div>
                        </div>
                        <div class="row formLeft" style="color:white;background-color: #005affeb;height: 20%;">
                            <div class="col-6">
                                <span class="inline-icon material-icons"> add_a_photo</span> Periodic snapshots
                            </div>
                            <div class="col-6">
                                <span class="inline-icon material-icons"> person_outline</span> candidate behaviour
                                status
                            </div>
                        </div>
                        <div class="row formLeft" style="color:white;background-color: #005affeb;height: 20%;">
                            <div class="col-6">
                                <span class="inline-icon material-icons"> print_disabled</span> Print screen lock
                            </div>
                            <div class="col-6">
                                <span class="inline-icon material-icons"> location_on</span> IP address collecting
                            </div>
                        </div>
                        <div class="row formLeft" style="color:white;background-color: #005affeb;height: 20%;">
                            <div class="col-6">
                                <span class="inline-icon material-icons"> stop_screen_share</span> Disable copy paste
                            </div>
                            <div class="col-6">
                                <span class="inline-icon material-icons"> computer </span> Dual screen detection
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row justify-content-center">
                            <div class="col-3">
                                <img style="position: relative;width: 82%;" src="assets/login_logo3.png"
                                    alt="login image">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-8 input-password">
                                <input type="text" placeholder="Enter your Email" class="inputText" required />
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-8 input-password">
                                <input type="password" placeholder="Password" class="inputText" required />
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-4" style="padding-right: 0px;padding-left: 0px;">
                                <button mat-button style="color: black;margin-top: 24px;">Forget Password</button>
                            </div>
                            <div class="col-md-4" style="padding-right: 0px;padding-left: 0px;">
                                <button mat-raised-button color="primary"
                                    style="float:right;border-radius: 24px;padding-left: 38px;padding-right: 38px;margin-top: 24px;outline:none">Primary</button>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-8" style="padding-right: 0px;padding-left: 0px;">
                                <hr>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-4" style="padding-right: 0px;padding-left: 0px;">
                                <button mat-button style="color: black;margin-left: 0;margin-right: 0;">Create an
                                    Account</button>
                            </div>
                            <div class="col-md-4" style="padding-right: 0px;padding-left: 0px;">
                                <button mat-stroked-button color="primary"
                                    style="float:right;border-radius: 24px;border-color: #c2185b;">Go to our
                                    sites</button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
