<!-- <div class = "input-email">
    <input type= "email" placeholder= "Enter your Mail ID" class= "inputEmail" />
    <span>@fxcams.in</span>
</div> -->
<div class="container">
    <div class="row">
        <div class="col-6 input-group">
            <input type="text" id="name" name="name" placeholder="User Name" class="inputText" required />
            <label for="name" class="input-label">User Name</label>
        </div>
        <!-- <div class="col-6">
            <label for="input1" class="input1_class">
                <input type="text" id="input1" placeholder="&nbsp" >
                <span class="input1-label">Label</span> 
                <span class="focus-bg"></span>
            </label>
        </div> -->
    </div><br><br>
    <div class="row">
        <div class="col-6">
            <h6>Radio button </h6>
            <div class="containers">
                <label class="label_container">Male
                    <input type="radio" name="sex" />
                    <span class="checkMark"></span>
                </label>
                <label class="label_container">Female
                    <input type="radio" name="sex" />
                    <span class="checkMark"></span>
                </label>
                <label class="label_container">Others
                    <input type="radio" name="sex" />
                    <span class="checkMark"></span>
                </label>

            </div>
        </div>
        <!-- <div class="col-6">
            <h6>Style 2</h6>
            <div>
                <div class="radio_button">
                    <input type="radio"   id="radio1" name= "radio" />
                    <label class="radio_label" for="radio1">ECE</label>
                </div>
                <div class="radio_button">
                    <input type="radio" id="radio2"   name= "radio" />
                    <label for="radio2" class="radio_label">CSE</label>
                </div>
                 <div class="radio_button">
                    <input type="radio"   id="radio3" name= "radio" />
                    <label for="radio3" class="radio_label">Mech</label>
                </div>
             <div class="radio_button">
                <input type="radio"   id="radio4" name= "radio" />
                    <label for="radio4" class="radio_label">Civil</label>
            </div>
            </div>
        </div> -->
        <div class="col-6">
            <h6>Check BOX</h6>
            <div class="containers">
                <label class="checkbox_container">English
                    <input type="checkbox" name="lung" />
                    <span class="checkBox"></span>
                </label>
                <label class="checkbox_container">Tamil
                    <input type="checkbox" name="lung" />
                    <span class="checkBox"></span>
                </label>
                <label class="checkbox_container">Malayalam
                    <input type="checkbox" name="lung" />
                    <span class="checkBox"></span>
                </label>
            </div>
        </div>
    </div>
<!-- </div> -->
<!-- <div class="container"> -->
    <div class="row" style="height: 173px;">
        <div class="col-6 header_container">
            <select>
                <option disabled>Select your Game</option>
                <option>Cricket</option>
                <option>Volley Ball</option>
                <option>Basket Ball</option>
                <option>Foot Ball</option>
                <option>Kabbadi</option>
            </select>
        </div>
        <!-- <div class="col-6 dropDown">
           <input type="checkbox" id="my_checkBox" name="checkBox">
           <label for="my_checkBox" data-toggle= "dropdown" >
               Choose Your Favourite
           </label>
           <ul>
               <li><a href="javascript:;"> Maths</a></li>
               <li><a href="javascript:;"> English</a></li>
               <li><a href="javascript:;"> Tamil</a></li>
               <li><a href="javascript:;"> Science</a></li>
           </ul>
        </div> -->
    </div>
    <!-- <div class="row">
        <div class="col-6">
           
    </div> -->
</div>