<div class = "container">
<button title = "Button with 3D dimension" class = "btnWith3D">btn With 3D</button> <!-- shadow will occure when hover it -->
<button title = "Button with 2D dimension" class = "btnWith2D">btn With 2D</button><!-- Action with 2d -->
<button title="For Primary Action" class = "primaryAction">Primary Action</button><!-- Use primary action like signup-->
<button title="For Secondary Action" class = "secondaryAction">Secondary Action</button><!-- Use it for secondary action like cancel -->
<button title="For link buttons" class = "linkButton">Click Me</button><!-- like link button -->
</div>
